  .container { 
    width: 1500px;
    max-width: 90vw;
  }
  
  .dataTables_info, .dataTables_paginate {
    text-align: center;
    padding: 10px;
  }
  .paginate_button {
      padding: 10px;
      display: inline-block;
      background: #e3e3e3;
      color: #666;
      margin: 0 5px;
      width: 35px;
      border-radius: 10px;
      cursor: pointer;
  }
  
  .paginate_button.current {
    opacity: .3;
  }
  
  .dataTables_filter {
    width: 48%;
    display: inline-block;
    margin-bottom: 40px;
  }
  
  .dataTables_filter label {
      font-size: 20px;
    }